/* src/components/SummarizationAndPromptPanel.css */

.summarization-prompt-panel {
  flex: 1;
  padding: 20px;
  color: var(--color-text-light);
  background: var(--color-bg-medium);
  border-right: 2px solid var(--color-primary);
  overflow-y: auto;
  transition: opacity 0.5s ease;
  opacity: 0.8;

  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.summarization-prompt-panel.fully-visible {
  opacity: 1;
}

.summarization-prompt-panel h4 {
  margin-top: 0;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 5px;
  color: #fff;
}

.sp-outputs-list {
  margin-top: 20px;
}

.sp-output-entry {
  margin-bottom: 10px;
  background: var(--color-bg-light);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 8px;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.4;
}

.sp-output-header {
  padding: 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sp-output-content {
  border-top: 1px solid var(--color-primary);
  background: var(--color-bg-medium);
  margin-top: 5px;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.sp-output-content pre {
  margin:0;
  color:#ccc;
  font-size:12px;
  line-height:1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
